html {
    height: 100%;
}

body {
    font-family: 'Roboto', 'Anek Tamil', sans-serif;
    font-size: larger;
    margin: 0;
    /* background-color: whitesmoke; */
    background: rgb(34,193,195);
    background: linear-gradient(146deg, rgb(34, 192, 195) 0%, rgb(255, 224, 156) 100%);
    background-attachment: fixed;
}

/* :root {
} */

*,
*:before,
*:after {
    box-sizing: border-box;
}

#main {
    transition: 0.5s;
}

/* -- Sidebar -- -------------------------------------------- */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    /* overflow-x: hidden; */
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar--btn {
    background-color: red;
    margin: 0.5rem;
    /* color: white; */
    border-radius: 1rem;
}


/* -- Navbar -- ----------------------------------------------*/

nav {
    overflow: hidden;
    background-color: rgb(78, 78, 78);
    z-index: 1;
}

.nav--link, .menu-icon{
    float: left;
    display: block;
    color: rgb(139, 180, 170);
    /* color: rgb(0, 169, 145); */
    text-align: center;
    padding: 1rem;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.nav--link:hover, .menu-icon:hover {
    background-color: #00A991;
    color: white;
}

.active {
    background-color: crimson;
    color: white;
}

nav .menu-icon {
    display: none;
}

@media screen and (max-width: 660px) {
    .nav--link:not(:first-child) {display: none;}
    nav .menu-icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 660px) {
    nav.responsive {position: relative;}
    nav.responsive .menu-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive .nav--link {
        float: none;
        display: block;
        text-align: left;
    }
} 

/* -- Logo Page -- ----------------------------------------------*/

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.vertical-center h1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

img {
    max-width: 192px;
}

.styled-button {
    font-family: 'Anek Tamil', sans-serif;
    font-weight: 500;
    font-size: large;
    height: 3rem;
    width: 6rem;
    border-radius: 1.5rem;
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.082);
    cursor: pointer;
    transition: background-color, 0.2s;
}

.styled-button:hover {
    background-color: rgba(255, 255, 255, 0.555);
}

/* .styled-button + .styled-button {
    margin-left: 2em;
} */

/* -- Start Page -- ----------------------------------------------*/

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: rgb(0, 20, 64);
    letter-spacing: 2px;
    text-shadow: 1px 1px 10px rgb(0,0,0, 0.4);
}

.subtitle, .question, .answers-row {
    color: rgb(0, 20, 64);
}

.dropdown-container {
    margin: 2rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dropdown {
    font-family: 'Anek Tamil', sans-serif;
    font-weight: 500;
    font-size: medium;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    margin-bottom: 0.75em;
    width: 13rem;
    height: 2rem;

    border: none;
    border-radius: 1rem;
    text-indent: 1rem;
    background-color: rgba(240, 248, 255, 0.6);
}

.start-quiz-button {
    height: 2.5rem;
    width: 10rem;
    font-family: 'Anek Tamil', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    background: linear-gradient(146deg, rgba(34, 192, 195, 0.288) 0%, rgba(253, 187, 45, 0.37) 100%);
    cursor: pointer;
}

.start-quiz-button:active {
    border: 2px solid rgba(0, 0, 0, 0.281);
}

/* -- Questions Page -- ----------------------------------------------*/

main {
    margin-top: 3rem;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.question {
    text-align: center;
}

hr {
    margin-top: 2rem;
    border-top: 1px solid rgb(161, 159, 159);
    border-bottom: none;
    box-shadow: 4px 0 10px rgb(161, 159, 159);
    max-width: 90%;
}

.answers-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
}

.form-control, .form-control-selected, .form-control-correct, .form-control-incorrect {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    line-height: 1.1;
    gap: 0.5em;
    outline: 1px solid rgb(161, 159, 159);
    border-radius: 18px;
    padding: 8px;
    text-align: center;
    align-self: center;
}

.form-control-selected {
    background-color: lightslategrey;
    outline: none;
}

.form-control-correct {
    background-color: rgb(110, 201, 110);
    outline: none;
}

.form-control-incorrect {
    background-color: rgba(177, 63, 63, 0.658);
    outline: none;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
} 

/* .submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 2.5rem;
    width: 10rem;
    cursor: pointer;
    font-family: 'Anek Tamil', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    background: linear-gradient(146deg, rgba(34, 192, 195, 0.288) 0%, rgba(253, 187, 45, 0.37) 100%);
} */

.score-text {
    text-align: center;
}

/* -- Registration Page -- ----------------------------------------------*/

.registration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-flow: wrap-reverse;
    width: 90%;
    justify-content: center;
}

.form-container {
    text-align: center;
}

.form-input {
    width: 18rem;
    font-size: medium;
    text-indent: 1rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: rgba(240, 248, 255, 0.384);
    border: none;
    margin-bottom: 0.75em;
}
/* 
.form-input + .dropdown {
    margin-bottom: 0.75em;
} */

br + .register-button {
    margin-top: 0.8rem;
}

.welcome-text-container {
    width: 20rem;
}

.vertical-line {
    margin: 0 2em 0 2em;
    border-right: none;
}

/* .longer-button {
    width: -moz-fit-content;
    width: fit-content;
} */

/* -- MISC -- ----------------------------------------------*/

.add-padding {
    padding: 2rem;
}

.flex-row-to-col {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.horizontal-align {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loading-text {
    text-align: center;
}

.timer-popup {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    background-color: rgba(240, 248, 255, 0.5);
    width: 16rem;
    margin-top: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeIn 4s forwards;
}

@-webkit-keyframes fadeIn {
    50% {opacity: 1;} 
    100% {opacity: 0;}
  }

@keyframes fadeIn {
    50% {opacity: 1;} 
    100% {opacity: 0;}
}

.standard-width {
    width: 18rem;
}

.gray-background {
    background-color: rgb(78, 78, 78); 
}